#body{
    background: linear-gradient(#c9e8ff,#ffc8c6);
}
#bodyPop{
    background: linear-gradient(#c9e8ff,#ffc8c6);
}
#overrideHEAD{
    width: 100%;
}
.clouds{
  position: relative;
  height:  300px;
  width: 1400px;
  background: url(cloud.png);
  background: url(cloud.png) 0 100px;

  animation: move 35s linear infinite;
}
@keyframes move{
 0% {
    background-position: 0 75px, 0 175px, 100px 125px;
  }
  100% {
    background-position: 1000px 100px, 1200px 200px, 1100px 150px;
  }
}
@keyframes changeGrad{
    0%{
       background: #c9e8ff; 
    }
    100%{
       background: #ffc8c6; 
    }
}