#body{
   /* background: linear-gradient(#c9e8ff,#ffc8c6);*/
   animation: changeGrad 7s alternate-reverse infinite;
}
#bodyPop{
    background: linear-gradient(#c9e8ff,#ffc8c6);
}
#overrideHEAD{
    width: 100%;
}
.clouds{
  position: relative;
  height:  300px;
  width: 1400px;
  background: url(cloud.png);
  background: url(cloud.png) 0 100px;

  animation: move 35s linear infinite;
}
#bub1{
    animation: appear 1s forwards;
}
#bub2{
    animation: appear 2s forwards;
    animation-delay:1s;
}
#bub3{
    animation: appear 2s forwards;
    animation-delay: 3s;
    text-align: bottom;

}
.clouds{
  position: relative;
  height: 600px;
  background: url(cloud.png);
  background: url(Cloud-icon.png) 20 200px;
  animation: move 35s linear infinite;
}
@keyframes move{
 0% {
    background-position: 0 75px, 0 175px, 100px 125px;
  }
  100% {
    background-position: 1000px 100px, 1200px 200px, 1100px 150px;
  }
}
@keyframes changeGrad{
    0%{
       background: #c9e8ff; 
    }
    100%{
       background: #ffc8c6; 
    }
}
@keyframes appear{
    0%{
        opacity: 0.0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1.0;
    }

}